@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #1b1b1f;
  --secondary-color: #30302e;
  --primary-background: #f2f3f4;
  --secondary-background: #d3d3d3;
  --color-theme: #0353cc;
}

[data-theme="dark"] {
  --primary-color: #f2f3f4;
  --secondary-color: #d3d3d3;
  --primary-background: #1b1b1f;
  --secondary-background: #30302e;
  --color-theme: #5b9fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  color: var(--primary-color);
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  padding: 0.25rem;
  color: var(--primary-color);
  background-color: var(--secondary-background);

  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  caret-color: var(--primary-color);
}

input:focus, textarea:focus {
  outline: none;
  border: solid 1px var(--color-theme);
  box-shadow: 0 0 1px 1px var(--color-theme);
}

/* Target Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Target Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property */
}

button {
  background-color: var(--color-theme);
  color: var(--secondary-background);
  border: none;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;

  font-weight: bold;
  cursor: pointer;
}

button:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}
